.home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    gap: 2rem;
}

button{
    border: none;
    border-radius: 15px;
    width: 120px;
    height: 40px;
    background-color: gray;
    color: white;
    cursor: pointer;
}