<div class="container">
  <div class="projectList">
    <!-- Lista de Proyectos -->
    <div class="list-group">
      <a 
        *ngFor="let project of arrProjects" 
        (click)="selectProject(project.id)" 
        [class.active]="project.id === projectIdSelected"
        class="list-group-item list-group-item-action"
        href="javascript:void(0)">
        {{ project.name }}
      </a>
    </div>

    <!-- Archivos RVT del proyecto seleccionado -->
    <div class="list-group" *ngIf="arrProjectContents.length > 0">
      <a 
        *ngFor="let file of arrProjectContents"
        (click)="selectFile(file.id)"
        [class.active]="file.id === fileIdSelected" 
        class="list-group-item list-group-item-action"
        href="javascript:void(0)">
        {{ file.name }}
      </a>
    </div>
  </div>
</div>
