<div class="container">
  
  <div class="container">
    <div class="form-floating">
      <select class="form-select" id="floatingSelect" aria-label="Floating label select example"
              (change)="onProjectChange($event)">
        <option value="" disabled selected>Seleccione un proyecto</option>
        <option *ngFor="let project of arrProjects" [value]="project.id">
          {{ project.name }}
        </option>
      </select>
      <label for="floatingSelect">Projects</label>
    </div>
  
    <div class="list-group" *ngIf="arrProjectContents.length > 0">
      <a 
        *ngFor="let file of arrProjectContents"
        (click)="selectFile(file.id)"
        [class.active]="file.id === fileIdSelected" 
        class="list-group-item list-group-item-action"
        href="javascript:void(0)">
        {{ file.name }}
      </a>
    </div>
  </div>
  


<!-- <div class="projectList">

  <div class="list-group">
      <a 
        *ngFor="let project of arrProjects" 
        (click)="selectProject(project.id)" 
        [class.active]="project.id === projectIdSelected"
        class="list-group-item list-group-item-action"
        href="javascript:void(0)">
        {{ project.name }}
      </a>
    </div>

    <div class="list-group" *ngIf="arrProjectContents.length > 0">
      <a 
        *ngFor="let file of arrProjectContents"
        (click)="selectFile(file.id)"
        [class.active]="file.id === fileIdSelected" 
        class="list-group-item list-group-item-action"
        href="javascript:void(0)">
        {{ file.name }}
      </a>
    </div>
  </div> -->
